
.card {
    background: #fff;
    border-radius: .75rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
  
    &:hover {
      transform: translateY(-5px);
    }
  }

  .card-title {
    font-size: 1.125rem;
    font-weight: bold;
    color: #333;.chart-container {
  width: 75vw;
  height: auto;
  padding: 1.25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.chart-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 1.25rem;
  text-align: center;
}
    margin-bottom: .5rem;
  }
  

  .card-value {
    font-size: 1.5rem;
    font-weight: bold;
    color: #4b5ae4;
    margin-bottom: 1rem;
  }
  

  .chart-container {
    width: 80vw;
    height: auto;
    padding: 1.25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .recharts-tooltip-wrapper {
    background: rgba(255, 255, 255, 0.9);
    border-radius: .375rem;
    padding: .5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  