.overlay-container {
    position: relative;
    width: 640px; /* PoseTracking의 너비와 동일 */
    height: 480px; /* PoseTracking의 높이와 동일 */
    margin-bottom: 20px;
}
  
  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
  }
  
  /* 모달 스타일링 */
  .modal-content {
    background-color: #fcfdf2;
    border-radius: 10px;
    padding: 3rem;
    text-align: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  }
  
  .modal-title {
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 16px;
    color: #333;
  }
  
  .modal-message {
    font-size: 1rem;
    margin-bottom: 16px;
    color: #555;
    line-height: 1.5;
  }
  
  .modal-info {
    font-size: 1rem;
    margin-bottom: 8px;
    color: #666;
  }
  
  .modal-logo {
    width: 250px;
    height: auto;
    margin-bottom: 16px;
  }
  
  /* 카드 스타일링 */
  .card {
    width: 12.5rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    padding: 16px;
    cursor: pointer;
    transition: transform 0.3s ease;
  
    &:hover {
      transform: translateY(-5px);
    }
  
    .card-title {
      font-weight: bold;
      text-align: center;
      font-size: 1.1rem;
      word-wrap: break-word;
    }
  
    .card-value {
      text-align: center;
      font-weight: 800;
      font-size: 1.8rem;
      margin-top: 8px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
  
  /* 추가로, modal-center 클래스 */
  .modal-center {
    text-align: center;
  }
  
  .modal-button.MuiButton-root {
    display: flex;
    justify-content: center;
    color: #fcfdf2 !important;
    background-color: #4b5ae4 !important;
    padding: .8rem 1.5rem !important;
  }