@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.admin-panel-container {
  background-color: $primary-color3;
  padding: 1rem; // 전체 여백 축소
  margin: 0 auto;
  width: 100%;
}

/* 로고 영역 */
.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.logo-image {
  width: 18rem;
  height: auto;
  @include tablet {
    width: 30rem;
  }
}
.logo-video {
    width: 18rem; // 모바일 기본 사이즈
    height: auto;
    
    @include tablet {
      width: 30rem; // 태블릿 사이즈
    }
    
    @include desktop {
      width: 40rem; // 데스크탑 사이즈 (필요에 따라 조정)
    }
  }
  

/* 웹캠 영역 */
.webcam-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-bottom: 1rem;
}

.overlay-container {
  position: relative;
  width: 300px;
  height: 240px;
  overflow: hidden;
  background-color: black;
  margin-bottom: 1rem;
  @include tablet {
    width: 640px;
    height: 480px;
  }
}


.down-row {
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
    gap: 2rem;
    margin-top: 1rem;
    width: 100%;
    @include tablet {
      flex-direction: row;
      align-items: center;
    }
  }
  

.progress-section,
.timer-section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 카드 영역 */
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  margin-top: 0.5rem;
  @include tablet {
    flex-wrap: nowrap;
    justify-content: space-evenly;
  }
}

/* 카드 스타일 */
.card {
  width: 12rem;
  height: 10rem;
  background: linear-gradient(135deg, $primary-color1 0%, $primary-color2 100%);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 0.625rem;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  @include tablet {
    width: 12rem;
    height: 8rem;
  }
  @include desktop {
    width: 16rem;
    height: 10rem;
  }
  &:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  }
  .card-title {
    font-weight: bold;
    font-size: 1rem;
  }
  .card-value {
    font-weight: 600;
    font-size: 1.6rem;
    margin-top: 5px;
    @include tablet {
      font-size: 1.3rem;
    }
  }
}

/* 모달 스타일 */
.modal-content {
  background-color: $primary-color3;
  width: 90%;
  max-width: 600px;
  border-radius: 10px;
  padding: 3rem;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2000;
}

.modal-title {
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 16px;
  color: #333;
}

.modal-message {
  font-size: 1rem;
  margin-bottom: 16px;
  color: #555;
  line-height: 1.5;
}

.modal-logo {
  width: 250px;
  height: auto;
}

.modal-closeicon {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  z-index: 2100;
}

// .modal-button {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   font-size: 1.2rem !important;
//   font-weight: bold !important;
//   color: $primary-color3 !important;
//   background-color: $primary-color1 !important;
//   border-radius: 10px !important;
//   padding: 1rem 2rem !important;
//   width: fit-content !important;
//   height: 3rem !important;
//   margin: 2rem auto !important;
//   transition: background-color 0.3s ease !important;
//   &:hover {
//     background-color: $primary-color2 !important;
//   }
// }

.modal-center {
  text-align: center;
}
