@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.feedback {
  position: absolute;
  bottom: .625rem;       
  left: .625rem;     
  font-size: 1rem;
  font-weight: bold;
  z-index: 1000;
}
